@import 'tailwindcss';
@import 'fumadocs-ui/css/solar.css';
@import 'fumadocs-ui/css/preset.css';

:root {
  --color-fd-popover-foreground: var(--color-sky-700);
  --color-fd-primary: var(--color-sky-600);
  --color-fd-primary-foreground: var(--color-white);
  --color-fd-accent: color-mix(in srgb, var(--color-sky-600) 15%, transparent);
}

.dark {
  --color-fd-popover-foreground: var(--color-sky-400);
  --color-fd-primary: var(--color-sky-400);
  --color-fd-primary-foreground: var(--color-sky-950);
  --color-fd-accent: color-mix(in srgb, var(--color-sky-400) 20%, transparent);
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}
